<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <form method="post" th:action="@{/api/file}" enctype="multipart/form-data">
        <!-- multipart/form-data가 중요
            파일 업로드 시 서버쪽에서도 넘어 온 데이터에 대한 정보가 필요하다.
            파트를 구분할 수 있는 값을 전송하기 한다.
            파트를 나눌 수 있는 바운더리를 제공한다.
            파일 양식 데이터와 파일 데이터를 구분한다.
        !-->
        <input type="hidden" name="gid" value="testgid">
        <input type="hidden" name="location" value="testlocation">
        <input type="file" name="file" multiple>
        <button type="submit">업로드</button>
    </form>
</html>